@import "../../styles/variables";
@import '../../styles/reset';

nav {
  background-color: $themeColor;
  padding-top: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  a:link,
  a:visited {
    color: white;
  }

}

ul:first-child a {
  font-weight: 800;

  span {
    color: $themeAccent;
  }
}

ul:nth-child(2) li {
  margin-top: 5px;

  margin-left: 10px;

  @import '../../styles/link-styles';


}
