<nav class="navbar">
  <ul>
    <li><a href="#" class="navbar-brand">MOCK-<span>LAB</span></a></li>
  </ul>
  <ul class="navbar">
    <li><a href="#">Home</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
