<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="!searchActive">{{ joke.title }}</mat-card-title>
    <mat-card-title *ngIf="searchActive">
      <span>{{ joke.titleP1 }}</span>
      <span [style.color]="'red'">{{ joke.titleP2 }}</span>
      <span>{{ joke.titleP3 }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="!searchActive">
    <p>{{ joke.content }}</p>
  </mat-card-content>
  <mat-card-content *ngIf="searchActive">
    <p>
      <span>{{ joke.contentP1 }}</span>
      <span [style.color]="'red'">{{ joke.contentP2 }}</span>
      <span>{{ joke.contentP3 }}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="handleEdit(joke)" mat-raised-button color="primary">
      Edit
    </button>
    <button (click)="handleDelete(joke)" mat-raised-button color="primary">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
