.example-card {
  max-width: 400px;
  margin: 10px;
  background: #ebebeb2c;
  mat-card-title {
    position: relative;
    left: -16px;
  }
  mat-card-actions {
    button {
      position: relative;
      left: 7px;
      &:last-child {
        background: #c0392b;
      }
    }
  }
  
}

