<div class="row">
  <div class="col-sm-6">
    <p>
      Hello! I'm Andrei Coman, I'm from Romania, and I'm an aspiring front end
      web developer.
    </p>
    <p>My skills include HTML, CSS, Javascript, and a bit of Angular.</p>
  </div>
  <div class="col-sm-6">
    <p>
      On top of loving programming, I also love video games, and SF and fantasy
      movies and series.
    </p>
    <p>
      I've also developed a new found love for exercising which will one day,
      hopefully, help me look like
      <a
        href="http://amiyuy.com/wow/wp-content/uploads/2014/10/2014_08-24_article_Human-Male-Flex.jpg"
        >my level 120 retribution paladin.</a
      >
    </p>
  </div>
</div>
