@import "../../styles/variables";

h2 {
  text-align: center;
  margin-bottom: 20px;
}

h2,
p {
  color: #ffffff;
}

input {
  transition: color 0.5s;
}

input:focus {
  color: $themeColor;
}

input,
textarea {
  color: $themeAccent;
}

.card {
  height: 250px;
  background-color: $themeColor;
  text-align: center;
  padding: 40px 0 40px 0;

  h3,
  p {
    color: #ffffff;
  }

  fa {
    font-size: 48px;
    color: #ffffff;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.row {
  margin: 0 30px 20px 30px;
}

agm-map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
