<h2>Contact us!</h2>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <fa name="globe" class="big-awesome-icon"></fa>
      <h3>Adress</h3>

      <p>{{ companyInfo.adress }}</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <fa name="phone" class="big-awesome-icon"></fa>
      <h3>Contact</h3>

      <p>{{ companyInfo.phone }}</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <fa name="inbox" class="big-awesome-icon"></fa>
      <h3>Email</h3>

      <p>{{ companyInfo.email }}</p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <fa name="external-link" class="big-awesome-icon"></fa>
      <h3>Website</h3>

      <p>{{ companyInfo.website }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <agm-map [latitude]="latitude" [longitude]="longitude">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

  <div class="col-sm-6">
    <form class="example-form">
      <div class="row">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Your Name"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('subject') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter your name
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Your Email"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('subject') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Subject"
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
          />
          <mat-error
            *ngIf="
              emailFormControl.hasError('subject') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a subject
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Subject is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary">Submit</button>
    </form>
  </div>
</div>
