.example-card {
  max-width: 400px;
  margin: 10px;
  background: #ebebeb2c;
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    .example-full-width {
      width: 100%;
    }
  }
  button {
    margin-right: 8px;
  }
}
