<mat-card class="example-card">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" [value]="joke.title" #title/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Content" [value]="joke.content " #content></textarea>
    </mat-form-field>
  </form>
  <button 
    (click)="submit(title.value, content.value, joke)"
    mat-raised-button color="primary">
    Submit
  </button>
  <button 
    (click)="cancelEdit(joke)"
    mat-raised-button color="primary">
    Cancel
  </button>
</mat-card>
