<div class="container" *ngIf="submited === false">
  <form (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
    <div class="form-group">
      <label for="full-name">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="full-name"
        placeholder="Your name"
        ngModel
        name="fullName"
        #fullName = "ngModel"
      />
    </div>

    <div class="form-group">
      <label for="subject">Subject<span>*</span></label>
      <input
        type="text"
        class="form-control"
        id="subject"
        placeholder="Subject of the email"
        ngModel
        name="subject"
        required
        #subject="ngModel"
      />
      <small *ngIf="!subject.valid && subject.touched"
        >Please insert a subject!</small
      >
    </div>

    <div class="form-group">
      <label for="email">Email<span>*</span></label>
      <input
        name="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Your Email"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
      <small *ngIf="!email.valid && email.touched"
        >Please insert a valid email adress</small
      >
    </div>

    <div class="form-group">
      <label for="message">
        Message<span>*</span>
      </label>
      <textarea
        name="email-text"
        id="email-text"
        cols="40"
        rows="10"
        ngModel
        name="text"
        required
        #text="ngModel"
      ></textarea>
      <small *ngIf="!text.valid && text.touched"
        >Your email text cannot be empty!</small
      >
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!myForm.valid">
      Send!
    </button>
  </form>
</div>

<div class="container hidden" *ngIf="submited === true">
  <p>Thank you for your message!</p>
</div>
