<mat-form-field class="example-form-field">
  <input 
    matInput type="text" 
    placeholder="Search..." 
    [(ngModel)]="value"
    (keyup)="searchAction()">
  <button 
    mat-button *ngIf="value" 
    matSuffix mat-icon-button aria-label="Clear" 
    (click)="value=''"
    (click)="searchAction()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

