<!-- will have {{service.icon}} as content -->
<p><fa name={{currentSelectedService.iconName}} class="big-awesome-icon"></fa></p>

<!-- will have {{service.name}} -->
<h3>{{currentSelectedService.name}}</h3>

<!-- will have {{service.description}} -->
<p>{{currentSelectedService.description}}</p>

<button mat-flat-button color="primary">Learn more!</button>
