<div class="row">

    <div class="col-sm-6">
      <div class="card">
        <h5>Phone</h5>
        <p>+40729356388</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <h5>Email</h5>
        <a [routerLink]="['/email-form']">comanandrei1993@gmail.com</a>
      </div>
    </div>

</div>
