<div class="row">
  <div class="col-sm-12">
    <h2>Our Services</h2>
  </div>
</div>

<div class="row">
  <app-our-services-menu class="col-sm-3"></app-our-services-menu>
  <app-service-presentation class="col-sm-9"></app-service-presentation>
</div>
