<!-- <ul>
<li><a href="#"><fa name="briefcase"></fa>Business Strategy</a></li>
<li><a href="#"><fa name="briefcase"></fa>Research</a></li>
<li><a href="#"><fa name="briefcase"></fa>Data Analysis</a></li>
<li><a href="#"><fa name="briefcase"></fa>UI Design</a></li>
<li><a href="#"><fa name="briefcase"></fa>Ux Design</a></li>
<li><a href="#"><fa name="briefcase"></fa>Technology</a></li>
<li><a href="#"><fa name="briefcase"></fa>Creative</a></li>
</ul> -->

<ul>
  <li *ngFor="let service of mockServices; let i = index">
    <a href="#" (click)="onGetServiceData(i)">
        <fa name={{service.iconName}} class="big-awesome-icon"></fa>
      {{service.name}}
    </a>
  </li>
</ul>
