@import '../../../styles/variables';
@import '../../../styles/link-styles';
@import '../../../styles/reset';

a {
  color: #ffffff;
}

a:after {
  content: "";
  margin: auto;
  text-align: center;
}

a:hover:after {
  width: 90%;
}

ul {
  background-color: $themeColor;
  padding: 40px 0 40px 30px;
  height: 500px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

// Font awesome selectors

fa {
  padding: 10px;
}
