<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chuck Norris Joke Generator</title>
  </head>

  <body>
    <div class="container">
      <h2>Chuck Norris Joke Generator</h2>
      <form>
        <div>
          <label for="number">Number of Jokes</label>
          <input type="number" id="number" />
        </div>
        <div>
          <button class="get-jokes">Get Jokes</button>
        </div>
      </form>
      <div *ngFor="let joke of jokes">
        <app-input-joke 
          [joke]="joke"
          (deleteJoke)="actionDelete(joke)"
          (editJoke)="actionEdit(joke)">
        </app-input-joke>
      </div>
    </div>
  </body>
</html>
