@import '../../global-styles/variables';

button {
  margin-left: 94%;
  background-color: $themeBlue1;
  color: $warningRed;
  border: none;
  border-radius: 5px;
  transition: background-color 0.8s, color 0.8s;
  font-weight: 800;
}

button:hover {
  background-color: $warningRed;
  color: #000000;
}

h4 {
  margin-bottom: 5px;
}

hr {
  margin: 5px 0;
  border-color: inherit
}

.row {
  padding: 20px 20%;
}

.row > div.col-sm-12 {
  border: 1px solid $themeBlue1;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.row > .no-messages {
  font-size: 20px;
}

@media screen and (min-width: 720px) {
  .row {
    padding-left: 30%;
    padding-right: 30%;
  }
}
