a {
  transition: color 1s;
}

a:hover {
  color: $themeAccent;
}

a:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: solid 2px #ffffff;
  transition: width 0.5s, color 0.5s, border 0.5s;
}

a:hover:after {
  width: 100%;
  border-bottom: solid 2px $themeAccent;
}


// shortcut:  @import 'yourpath/styles/link-styles';
