<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf="!isEdit">{{ joke.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="!isEdit">{{ joke.content }}</p>
    <div *ngIf="isEdit" class="edit">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Favorite food"
            [value]="joke.title"
            #title
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput [value]="joke.content" #content></textarea>
        </mat-form-field>
      </form>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          (click)="submitForm(title.value, content.value, joke)"
        >
          Submit
        </button>
        <button mat-raised-button color="accent" (click)="cancelForm()">
          Cancel
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="deleteAction(joke)" mat-raised-button color="primary">
      Delete
    </button>
    <button (click)="editAction(joke)" mat-raised-button color="accent">
      Edit
    </button>
  </mat-card-actions>
</mat-card>
