/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import './app/styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: $myBackgroundColor;
}

ul {
  list-style-type: none;
}
