<div class="app">
  <app-search-joke (search)="searchJoke($event)"> </app-search-joke>
</div>
<div *ngFor="let joke of jokes" class="app">
  <ng-container *ngIf="joke.search">
    <app-joke-detail
      *ngIf="!joke.isEdited"
      [joke]="joke"
      (editJoke)="editJoke($event)"
      (deleteJoke)="deleteJoke($event)"
      [searchActive]="searchActive"
    >
    </app-joke-detail>
    <app-joke-detail-edit
      *ngIf="joke.isEdited"
      [joke]="joke"
      (cancelJoke)="handleCancel($event)"
      (editJoke)="handleEdit($event)"
    >
    </app-joke-detail-edit>
  </ng-container>
</div>
