@import '../../global-styles/variables';

img {
  max-height: 100%;
  max-width: 100%;
}

.card {
  background-color: transparent;
  margin: 10px auto;
  border: none;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.row {
  margin: 20px auto 0 auto;
  text-align: center;
}

@media screen and (min-width: 781px) {

  .row {
    width: 50%;
    margin: 5px auto;
  }

}

@media screen and (min-width: 1201px) {

  .row {
    width: 30%;
    margin: 5px auto;
  }

}
